.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}


.img-navbar {
    height: 35px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: stretch;
}